body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 18px;
}

/* Navbar */
nav {
  display: flex;
  padding: 0;
  background: #764abc;
}

nav section {
  width: 100%;
}
nav section h1 {
  text-align: center;
  padding: 30px 0px;
  margin: 0;
}
nav section h1,
nav section {
  color: white;
}

.navContent {
  display: flex;
  justify-content: center;
}

.navLinks {
  display: flex;
}

.navLinks a {
  margin-left: 5px;
}

.navLinks :first-child {
  margin-left: 0;
}

nav a,
nav a:active {
  font-weight: 700;
  padding: 10px 22px;
  border-radius: 4px;
  color: white !important;
  background: #481499;
}

nav a:hover,
#search button:hover,
.editForm button:hover {
  color: white;
  background: #926bcf;
}

/* Search */
#search {
  text-align: center;
  margin-top: 35px;
}
#search-textbox {
  margin: 10px 30px 0 132px;
  height: 45px;
  width: 400px;
  padding: 10px;
}
.not-found {
  text-align: center;
  margin-top: 30px;
  font-size: large;
  color: #481499;
}
#search button,
.editForm button {
  background-color: #481499;
  color: #fff;
}
/* Edit Form */
.editForm {
  margin-top: 35px;
  text-align: center;
}
.editForm form {
  margin-top: 35px;
}

.editForm label {
  display: block;
  font-size: 25px;
  margin: 10px 0;
}

.editForm button {
  margin-top: 30px;
}

#postTitle {
  height: 45px;
  margin-left: 100px;
}
#postBody {
  height: 130px;
}
#postTitle,
#postBody {
  width: 600px;
  padding: 10px;
}

/* Posts list */
.post-details {
  margin: 30px;
  padding: 10px;
  border: 1px solid #aeaeae;
  border-radius: 7px;
}

.post-details h3 {
  font-size: 25px;
}
.post-detail a {
  cursor: pointer;
}
.post-details:hover {
  background-color: #ddccf3;
}
